:root {
  --primary-color: #3f51b5;
  --primary-color-dark: #303f9f;
  --error-color: #f44336;
  --button-text: #fff;
}

code {
  font-family: 'Roboto Mono', monospace;
}

input {
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  transition: border-bottom 0.3s ease;
}

input:hover, input:focus {
  border-bottom: 2px solid var(--primary-color);
}

button {
  border: none;
  outline: none;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--button-text);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--primary-color-dark);
}

.error {
  color: var(--error-color);
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  height: 20px;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

form {
  border: 2px solid var(--primary-color);
  border-radius: 4px;
  padding: 20px;
  gap: 4px;
  width: 100%;
  max-width: 33.33vw;
  min-width: 300px;
}

.fieldLabel {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 700;
}

.spacer {
  height: 20px;
}